* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.innerBox {
    height: 98%;
    width: 99%;
    border-radius: 30px;
    background-color: black;
    background-color: black;
    background-image:
        radial-gradient(circle at 20% 30%, rgba(224, 29, 127, 0.5), transparent 30%),
        radial-gradient(circle at 80% 90%, rgba(224, 29, 127, 0.5), transparent 30%),
        radial-gradient(circle at 30% 0%, rgba(0, 119, 255, 0.4), transparent 30%),
        radial-gradient(circle at 100% 80%, rgba(0, 119, 255, 0.4), transparent 30%),
        radial-gradient(circle at 0% 0%, rgba(212, 188, 69, 0.3), transparent 30%);
        /* radial-gradient(circle at 0% 0%, rgba(212, 117, 69, 0.3), transparent 40%); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.layer{
    height: 100%;
    width: 100%;
    /* background-color: rebeccapurple; */
    /* padding: 1vw; */
}

.dock {
    height: 12%;
    width: 100%;
    /* background-color: aqua; */
    padding: .5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dockbox {
    background-color: rgba(255, 255, 255, 0.15);

    /* This is the magic property for the glass effect! ✨ */
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(10px);
    /* For Safari support */
    border: 1px solid rgba(255, 255, 255, 0.107);
    height: 100%;
    width: 45%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dockbox a {
    text-decoration: none;
}

.dockbox i {
    color: rgb(156, 156, 156);
    font-size: 3vw;

    transform: scale(1) translateY(0);
    /* transition: all 0.2s ease-in-out; */
}


.upperPart{
    height: 87%;
    width: 100%;
}